table{
	display: table;    
	width:10%;
    }


tr {
	background-color: #E4F4FF;
	color : black;
}

table { table-layout: fixed; width:100%; }

tbody {
	height:400px;
	text-align: center;
	word-wrap:break-word;
	overflow:scroll;
	width:200px;
}
tr:hover {background-color: #D4EDFF}
tr:nth-child(odd) {background-color: #C2E6FF}
tr:nth-child(odd):hover {background-color: #D4EDFF}
th {
	background-color: #0096FF;
	color: black;

}

th, td {
	border-bottom: 1px solid #ddd;
	color:#FBEEE6;
}

